@charset "utf-8";

.side_column {
    overflow-x: hidden; /* IE6 ?????? */
}

#category_area li > a {
    padding: 5px 10px;
}
#category_area li.level2 > a {
    padding-left: 15px;
}
#category_area li.level3 > a {
    padding-left: 20px;
}
#category_area li.level4 > a {
    padding-left: 25px;
}
#category_area li.level5 > a {
    padding-left: 30px;
}


/* ===============================================
???????
=============================================== */


/* ===============================================
?????(????)
???????bloc_alpha.css????
=============================================== */


/* ===============================================
???
=============================================== */


/* ===============================================
??????
=============================================== */
#calender_area table td {
    padding: 1px 3px;
    text-align: center;
}
#calender_area th {
    padding: 1px 3px;
    text-align: center;
}
#calender_area table .month {
}
#calender_area .off {
    color: #d44950;
}
#calender_area .today {
    background-color: #eee;
    font-weight: bold;
}
#calender_area .information {
}


/* ===============================================
???????
=============================================== */
/*
   tpl????????????????
   ???????
   ???????           [side_column]
   ???????????   [whobought_area]




=============================================== */
/* ??
----------------------------------------------- */
#recommend_area a:link:hover {
    text-decoration: none;
}
#recommend_area .recommend-title {
    display: block;
    height: 30px;
    overflow: hidden;
}
#recommend_area .recommend-price {
    display: block;
    height: 40px;
    overflow: hidden;
}
#recommend_area .recommend-comment {
    display: block;
    height: 40px;
    overflow: hidden;
}

/*#recommend_area .block_body,
#whobought_area .product_item {
    padding: 10px 0 10px;
    border: none;
    background: url("../img/background/line_dot_01.gif") repeat-x bottom;
}

#recommend_area .block_body p,
#whobought_area .product_item p {
    margin: 0 0 5px 0;
}

#recommend_area .block_body img,
#whobought_area .product_item img {
    margin: 0 5px 0 0;
}

#recommend_area .block_body h3,
#whobought_area .product_item h3 {
    font-size: 100%;
    font-weight: normal;
}
*/
/* ??????? */
/*.side_column #recommend_area .product_item {
    margin-bottom: 10px;
}
*/


#firstview_container {
	position: relative;
	overflow: hidden;
	width: 100%;
	/*border-top: solid 10px #ddd;*/
	margin-bottom: 30px;
}

#firstview_wrapper {
	position: relative;
	width: 100%;
	max-width: 769px;
	margin-left: auto;
	margin-right: auto;
}

ul#firstview {
	position: relative;
	display: block;
	width: 10000px;
	list-style: none;
	letter-spacing: -.40em;
	text-align: left;
	white-space: nowrap;
	padding: 0;
	margin: 0;
}

ul#firstview li {
	display: inline-block;
	letter-spacing: normal;
	vertical-align: top;
}

.firstview_filter {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(240,240,240,0.90);
}

#firstview_filter_left {
	left: 0;
	margin-left: -100%;
}

#firstview_filter_right {
	right: 0;
	margin-right: -100%;
}

ul#firstview_controller {
	display: block;
	width: 100%;
	list-style: none;
	letter-spacing: -.40em;
	text-align: center;
	padding: 10px 0 0;
	margin: 0;
}

ul#firstview_controller li {
	display: inline-block;
	letter-spacing: normal;
	padding: 0 5px;
	font-size: 5px;
}

ul#firstview_controller li a {/*
	width: 16px;
	height: 16px;
	background: #ddd;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;*/
	cursor: pointer;
	width: 120px;
	height: 65px;
	 background: url(http://www.kurashikisilk.jp/user_data/firstview_images/FV_wake.jpg) top left no-repeat; 
	 background-size: 100% auto;
	 opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
}

/*??????? (fv?????)11/11??*/

ul#firstview_controller li#ct-0 a {
	background: #cccccc;
	padding: 0 41px;
	border-radius: 5px;
	}
ul#firstview_controller li#ct-1 a {
	background: #cccccc;
	padding: 0 41px;
	border-radius: 5px;
	}
ul#firstview_controller li#ct-2 a {
	background: #cccccc;
	padding: 0 41px;
	border-radius: 5px;
	}
ul#firstview_controller li#ct-3 a {
	background: #cccccc;
	padding: 0 41px;
	border-radius: 5px;
	}
/*????*/


ul#firstview_controller li a:hover {
	/*background: #f7c7c6;*/
}
ul#firstview_controller li.active a {	
	background: #365ca9 !important;
}
ul#firstview_controller li.active a {
	/*background: #faee00 !important;*/
	opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "alpha(opacity=100)";
}

.firstview_arrow {
	position: absolute;
	top: 50%;
	width: 51px;
	height: 88px;
	background: url(../img/common/firstview_arrow.png) top left no-repeat;
	background-size: 100% auto;
	filter: alpha(opacity=25);
	-moz-opacity: 0.25;
	opacity: 0.25;
	margin-top: -44px;
	cursor: pointer;
}

.firstview_arrow:hover {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.firstview_arrow.untouch {
	filter: alpha(opacity=0) !important;
	-moz-opacity: 0 !important;
	opacity: 0 !important;
}

#firstview_arrow_left {
	left: -81px;
}

#firstview_arrow_right {
	right: -81px;
	background-position: bottom left;
}

/*
.thph {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.thph:hover {
	filter: alpha(opacity=50) !important;
	-moz-opacity: 0.5 !important;
	opacity: 0.5 !important;
}
*/

.block_outer { margin-bottom:  7%/*10% 12%*/; }
/*#top-ranking.block_outer { margin-bottom: 2% !important; }
#top-gifts span {
    margin-top: 7%;
}*/
#top-recommend-list.block_outer {
	margin-bottom: 3% !important;
}
	
#leftcolumn .block_outer { text-align: center; }
#leftcolumn .block_outer img { width: auto; height: auto; max-width: 100%; }
.side_column .block_outer { margin-bottom: 10%; }
#main_column .block_outer { line-height: 2em; }
.block_border_outer { border-top: solid 1px #999; padding-top: 5%; }
.block_outer_paddingoff { margin-bottom: 0; }

#cart_area { text-align: left; }

#side-search input[type='text'],#side-search2 input[type='text']{
	width: 220px;
	padding: 3px 9px;
	border: solid 2px #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#side-search input.search-button,#side-search2 input.search-button{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: none;
	background: url(../img/common/loupe.png) top center no-repeat;
	background-size: 100% auto;
	font-size: 0.5em;
	text-align: left;
	text-indent: -9999px;
	margin-left: 7px;
}

.side-block-label {
	padding: 7px 10px;
	background: #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 10px;
}

.side-block-label span {
	display: block;
	height: 26px;
	color: #444;
	font-size: 1.125em;
	font-weight: bold;
	font-family: "?????? Pro W3", "Hiragino Kaku Gothic Pro", "????", Meiryo, Osaka, "MS P????", "MS PGothic", sans-serif;
	line-height: 26px;
}

#side-category .side-block-label span, #side-scene-category .side-block-label span{
	background: url(../img/common/cart.png) center right no-repeat;
	background-size: auto 100%;
}

ul.categorytree {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
    overflow: hidden;
    position: relative;
}

ul.categorytree2,
ul.categorytree3 {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.categorytree li {
	display: block;
	padding-top: 5px;
	height:45px;
	position:relative;
    background-color:#fff;
}

ul.categorytree2 li, 
ul.categorytree3 li {
	display: block;
	padding-top: 5px;
	height:45px;
}

ul.categorytree3 li {
	padding-top: 0;
}

ul.categorytree li a {
	display:block;
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding-left: 45px;
	background-position: center left;
	background-repeat: no-repeat;
	background-size: auto 100%;
	
}

ul.categorytree2 li a, 
ul.categorytree3 li a {
	display: block;
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding-left: 70px;
	background-position: center left;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

ul.categorytree3 li a {
	line-height: 5px;
}

ul.categorytree li#sc03{
   height:inherit;
}

ul.categorytree li#sc05:hover {
	height: 245px;
}

ul.categorytree * {/*???????*/
   -moz-transition: .5s;
   -webkit-transition: .5s;
   -o-transition: .5s;
   -ms-transition: .5s;
   transition: .5s;
}


.side_column .block_outer img { width: auto; height: auto; max-width: 100%; }

.body-contents-label {
	font-size: 2.25em;
	font-family: "????";
	letter-spacing: -.05em;
	margin-bottom: 15px;
	background: url(../img/common/footer_border.gif) bottom left repeat-x;
	/*border-bottom: solid 10px #f9f9f9;*/
}

#top-topics .body-contents-label { background: none; }

.body-contents-label > span {
	display: block;
	padding-left: 10px;
	line-height: 1em;
}

/*
.body-contents-label.top-contents-label {
	font-family: "hind";
	letter-spacing: 0.05em;z
}

.body-contents-label.top-contents-label > span {
	line-height: 0.5em;
}
*/

#top-recommend-list, #arrCheckItems { padding-top: 0px; }
/*#top-recommend-list { margin-bottom: 5%; }*/

/*
#top-recommend-list .body-contents-label.top-contents-label,
#arrCheckItems .body-contents-label.top-contents-label {
	font-size: 2em;
	font-family: "?????? Pro W3", "Hiragino Kaku Gothic Pro", "????", Meiryo, Osaka, "MS P????", "MS PGothic", sans-serif;
}

#top-recommend-list .body-contents-label.top-contents-label > span,
#arrCheckItems .body-contents-label.top-contents-label > span { line-height: 0.4em; }


#top-recommend .body-contents-label, #top-gifts .body-contents-label { margin-bottom: 0; }
*/

.thumb-banner {
	margin-top: 30px;
}

#top-recommend .thumb-banner {
	margin-top: 0;
	margin-bottom:30px;
}

.thumb-banner .thph {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.thumb-banner .thph:hover {
	filter: alpha(opacity=50) !important;
	-moz-opacity: 0.5 !important;
	opacity: 0.5 !important;
}

#set .thumb-banner{
	margin-top: 0;
	margin-bottom:30px;
	}

#recommend .thumb-banner{
	margin-top: 0;
	margin-bottom:30px;
	}

 #yahoo_contact .thumb-banner{
    margin-top:0;
	margin-bottom:30px;}

#banner_half {
	margin-bottom:0;}

#banner_half .thumb-banner{
    margin-top:0px;
	margin-bottom:30px;
}

#yomimono .thumb-banner{
    margin-top:0px;
	margin-bottom:30px;
}

#banner_half .col-md-3 ,#banner_half .col-sm-3 ,#banner_half .col-xs-6{
    padding-left:0px;
    padding-right:0px;
} 

#top-ranking .thph span.rank {
	position: absolute;
	top: -15px;
	left: -7px;
	display: block;
	/*
	color: #fff;
	font-size: 1.875em;
	font-family: "Times New Roman", Times, serif;
	line-height: 44px;
	text-align: center;
	background: #b5b5b5;
	border: solid 1px #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:rgba(0, 0, 0, 0.25) 2px 2px 3px 0px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.25) 2px 2px 3px 0px;
	-moz-box-shadow:rgba(0, 0, 0, 0.25) 2px 2px 3px 0px;
	*/
	font-size: 0.5em;
	text-align: left;
	text-indent: -9999px;
	width: 27px;
	height: 27px;
	background: url(../../../ranking_icon/no4.png) center center no-repeat;
	background-size: 100% auto;
	z-index: 10;
}

#top-ranking #top-1 span.rank{
/*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ccaa00), color-stop(0.51, #d4b726), color-stop(0.50, #dbc44d), color-stop(0.00, #e3d073));
	background: -webkit-linear-gradient(top, #e3d073 0%, #dbc44d 50%, #d4b726 51%, #ccaa00 100%);
	background: -moz-linear-gradient(top, #e3d073 0%, #dbc44d 50%, #d4b726 51%, #ccaa00 100%);
	background: -o-linear-gradient(top, #e3d073 0%, #dbc44d 50%, #d4b726 51%, #ccaa00 100%);
	background: -ms-linear-gradient(top, #e3d073 0%, #dbc44d 50%, #d4b726 51%, #ccaa00 100%);
	background: linear-gradient(to bottom, #e3d073 0%, #dbc44d 50%, #d4b726 51%, #ccaa00 100%);
*/
	background-image: url(../../../ranking_icon/no1.png);
}

#top-ranking #top-2 span.rank{
/*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #99aabb), color-stop(0.51, #a8b7c5), color-stop(0.50, #b8c4d0), color-stop(0.00, #c7d0da));
	background: -webkit-linear-gradient(top, #c7d0da 0%, #b8c4d0 50%, #a8b7c5 51%, #99aabb 100%);
	background: -moz-linear-gradient(top, #c7d0da 0%, #b8c4d0 50%, #a8b7c5 51%, #99aabb 100%);
	background: -o-linear-gradient(top, #c7d0da 0%, #b8c4d0 50%, #a8b7c5 51%, #99aabb 100%);
	background: -ms-linear-gradient(top, #c7d0da 0%, #b8c4d0 50%, #a8b7c5 51%, #99aabb 100%);
	background: linear-gradient(to bottom, #c7d0da 0%, #b8c4d0 50%, #a8b7c5 51%, #99aabb 100%);
*/
	background-image: url(../../../ranking_icon/no2.png);
}


#top-ranking #top-3 span.rank{
/*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #d98c40), color-stop(0.51, #df9d5c), color-stop(0.50, #e4af7a), color-stop(0.00, #eac096));
	background: -webkit-linear-gradient(top, #eac096 0%, #e4af7a 50%, #df9d5c 51%, #d98c40 100%);
	background: -moz-linear-gradient(top, #eac096 0%, #e4af7a 50%, #df9d5c 51%, #d98c40 100%);
	background: -o-linear-gradient(top, #eac096 0%, #e4af7a 50%, #df9d5c 51%, #d98c40 100%);
	background: -ms-linear-gradient(top, #eac096 0%, #e4af7a 50%, #df9d5c 51%, #d98c40 100%);
	background: linear-gradient(to bottom, #eac096 0%, #e4af7a 50%, #df9d5c 51%, #d98c40 100%);
*/
	background-image: url(../../../ranking_icon/no3.png);
}

#top-ranking #top-5 span.rank {
/*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #d98c40), color-stop(0.51, #df9d5c), color-stop(0.50, #e4af7a), color-stop(0.00, #eac096));
	background: -webkit-linear-gradient(top, #eac096 0%, #e4af7a 50%, #df9d5c 51%, #d98c40 100%);
	background: -moz-linear-gradient(top, #eac096 0%, #e4af7a 50%, #df9d5c 51%, #d98c40 100%);
	background: -o-linear-gradient(top, #eac096 0%, #e4af7a 50%, #df9d5c 51%, #d98c40 100%);
	background: -ms-linear-gradient(top, #eac096 0%, #e4af7a 50%, #df9d5c 51%, #d98c40 100%);
	background: linear-gradient(to bottom, #eac096 0%, #e4af7a 50%, #df9d5c 51%, #d98c40 100%);
*/
	background-image: url(../../../ranking_icon/no5.png);
}

#top-ranking .thph ,#style-ranking .thph{
	position: relative;
	display: block;
	width: 100%;
	filter: alpha(opacity=100) !important;
	-moz-opacity: 1 !important;
	opacity: 1 !important;
}

#top-ranking .thph:hover,#style-ranking .thph:hover {
	filter: alpha(opacity=100) !important;
	-moz-opacity: 1 !important;
	opacity: 1 !important;
}

#top-ranking .thph:after,#style-ranking .thph:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/*#top-ranking .thph span.thumb-item {*/



#style-ranking .thph span.rank{
	position: absolute;
	top: 3px;
	left: -7px;
	display: block;
	font-size: 0.5em;
	text-align: left;
	text-indent: -9999px;
	width: 27px;
	height: 27px;
	background: url(../../../ranking_icon/w4-min.png) center center no-repeat;
	background-size: 100% auto;
	z-index: 10;}

#style-ranking #top-1 span.rank{background-image: url(../../../ranking_icon/w1-min.png);}
#style-ranking #top-2 span.rank{background-image: url(../../../ranking_icon/w2-min.png);}
#style-ranking #top-3 span.rank{background-image: url(../../../ranking_icon/w3-min.png);}
#style-ranking #top-5 span.rank{background-image: url(../../../ranking_icon/w5-min.png);}

#style-ranking .thumb-banner{margin-top:15px;}

.thumb-item {
	display: block;
	width: 100%;
	height: 0;
	padding-top: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.thph .thumb-item {
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	transition: 0.4s;
}

.thph:hover .thumb-item {
	background-size: auto 110% !important;
}

#top-ranking .thph h3 {
	display: block;
	overflow: hidden;
	font-size: 0.875em;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 15px 0 0;
}


#style-ranking .thph h5  {
	display: block;
	overflow: hidden;
	font-size: 0.875em;
	width: 100%;
	text-overflow: ellipsis;
	margin: 15px 0 0;
	padding:3px;
	height:60px;
	line-height:1.5;
}

#style-ranking .thumb{
	margin-top:0px;
	}

#top-ranking .thph .price {
	display: block;
	color: inherit;
	font-size: 0.875em;
	text-align: right;
}


#top-ranking .thumb-banner{
	margin-top:0px;
	margin-bottom:30px;
	}
	
#top-gifts .thumb-banner{
	margin-top:0px;
	margin-bottom:30px;
}

ul#top-gifts-thumbnail {
	display: block;
	overflow: hidden;
	list-style: none;
	letter-spacing: 0.5em;
	text-align: center;
	padding: 0;
	margin: 30px 0 0;
}

ul#top-gifts-thumbnail li {
	display: inline-block;
	overflow: hidden;
	width: 23.5%;
	letter-spacing: normal;
	text-align: left;
	vertical-align: top;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
	background: #e9e9e9;
}

ul#top-gifts-thumbnail li a {
	position: relative;
	display: block;
	width: 100%;
	padding: 4px;
	padding-bottom: 15px;
}
ul#top-gifts-thumbnail li a:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul#top-gifts-thumbnail li a span.thumb-item {
	display: block;
	width: 100%;
	height: 0;
	padding-top: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	border: solid 4px #fff;
}

ul#top-gifts-thumbnail li a strong {
	display: block;
	overflow: hidden;
	font-size: 0.875em;
	font-weight: normal;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 5px;
	margin: 15px 0 0;
}

ul#top-gifts-thumbnail li a .gift-note {
	display: block;
	overflow: hidden;
	font-size: 0.75em;
	line-height: 1.7em;
	padding: 0 5px;
}

ul#top-gifts-thumbnail li a .price {
	display: block;
	color: inherit;
	font-size: 0.75em;
	text-align: right;
	padding: 0 5px;
}

#top-recommend-list ul#top-gifts-thumbnail,
#arrCheckItems ul#top-gifts-thumbnail { letter-spacing: 0.1em; }
#top-recommend-list ul#top-gifts-thumbnail li,
#arrCheckItems ul#top-gifts-thumbnail li {
	width: 16%;
	background: none;
	border: solid 1px #999;
	padding: 0;
	margin: 0;
}
#top-recommend-list ul#top-gifts-thumbnail li a,
#arrCheckItems ul#top-gifts-thumbnail li a {
	padding: 4px 4px 10px;
}
#top-recommend-list ul#top-gifts-thumbnail li a span.thumb-item,
#arrCheckItems ul#top-gifts-thumbnail li a span.thumb-item {
	border: none;
}
#top-recommend-list ul#top-gifts-thumbnail li a strong,
#arrCheckItems ul#top-gifts-thumbnail li a strong {
	line-height: 1.7em;
}
#top-recommend-list ul#top-gifts-thumbnail li a .price,
#arrCheckItems ul#top-gifts-thumbnail li a .price {
	line-height: 1.7em;
}

.news-block-outer {
	position: relative;
	margin-top: 30px;
}

.news-block-frame {
	position: relative;
	overflow: hidden;
	overflow-y: scroll;
	max-height: 353px;
}

ul.news-block-ul {
	font-size: 0.875em;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.news-block-ul li {
	line-height: 1.7em;
	padding: 45px 15px 0 5px;
}
ul.news-block-ul li:first-child { border-top: none; padding-top: 0; }

.news-date {
	border-bottom: solid 1px #aaa;
	margin-bottom: 10px;
}

.news-date span {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	line-height: 1em;
	letter-spacing: 0.05em;
	padding: 5px 15px;
	background: #aaa;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	vertical-align: bottom;
}

.news-title {
	font-size: 1em;
	line-height: 1.7em;
	margin: 0;
}

h3.news-title, h4.news-title { font-weight: bold; }
a.news-title { color: #0066cc; }
a.news-title:hover { color: #bbb; }

.news-note {
	font-size: 0.928em;
	line-height: 1.7em;
	padding: 15px;
	margin-top: 10px;
	background: #f6f6f6;
}

#instagram { padding: 6px; background: #f2f2f2; height:40px;}
#instagram h3#insta-logo {
	display: block;
	font-size: 0.1em;
	text-align: left;
	text-indent: -9999px;
	height: 27px;
	background: url(../img/common/instagram.png) top left no-repeat;
	margin: 0;
}
.instagram-feed { margin: 20px auto 60px; width: 100%; }
.instagram-placeholder { display: inline-block; margin-left: 4px; margin-bottom: 4px; width: 23%; font-size: 1; line-height: 1; }
/*.instagram-placeholder:nth-child(6n) { margin-right: 0; }*/
.instagram-placeholder img { height: auto; width: 100%; }

.fb_iframe_widget,
.fb_iframe_widget[style],
.fb_iframe_widget iframe[style],
.fb_iframe_widget span{
width: 100% !important;
}
.fbcomments,
.fb_iframe_widget,
.fb_iframe_widget[style],
.fb_iframe_widget iframe[style],
.fbcomments iframe[style],
.fb_iframe_widget span{
width: 100% !important;
}

@media screen and (max-width: 1023px) {
	.firstview_arrow {
		width: 26px;
		height: 44px;
		margin-top: -22px;
	}
	#firstview_arrow_left { left: -40px; }
	#firstview_arrow_right { right: -40px; }
	#top-recommend-list ul#top-gifts-thumbnail li,
	#arrCheckItems ul#top-gifts-thumbnail li { width: 15.7%; }
}

@media (max-width: 991px) {
	.instagram-placeholder { width: 15.5%; }
	#top-widget-box .col-md-7 .row { margin: 0 !important; }
	ul#top-gifts-thumbnail { letter-spacing: 0; }
	ul#top-gifts-thumbnail li { width: 24%; }
	/*.block_outer { margin-bottom: 10% !important; }*/
}

@media screen and (max-width: 848px) {
	#firstview_arrow_left { left: 15px; }
	#firstview_arrow_right { right: 15px; }
}

@media (min-width: 768px) {
	#leftcolumn .block_outer { height: auto !important; }
	#top-products-list { display: none !important; }
	
	#leftcolumn #side-category:first-child /* ???? */
	 { height: 450px !important; }
}

@media (max-width: 767px) {
	.body-contents-label { font-size: 1.5em !important; margin-bottom: 0; }
	#firstview_container{display:none!important;}/* ?? */
	#sp_firstview img{max-width:100%;
	margin-bottom:5%;}/* ?? */
	#top-recommend .body-contents-label,#yomimono .body-contents-label,#set .body-contents-label,#recommend .body-contents-label,
	#banner_half .body-contents-label,#top-gifts .body-contents-label{
		margin-bottom:15px;}
	.thumb-banner { float: none; width: 100%; margin-top: 15px; }
	ul#top-gifts-thumbnail { margin-top: 15px; }
	ul#top-gifts-thumbnail li { display: block; width: 100%; padding: 0; margin: 10px 0 0; }
	ul#top-gifts-thumbnail li:first-child { margin-top: 0; }
	ul#top-gifts-thumbnail li a { padding: 4px; }
	ul#top-gifts-thumbnail li a span.thumb-item { float: left; width: 69px; height: 69px; padding-top: 0; }
	ul#top-gifts-thumbnail li a strong { width: auto; margin-top: 0; }
	.news-block-outer { margin-top: 15px; margin-bottom: 15px; }
	.news-block-frame { height: 300px; }
	
	ul.news-block-ul li { padding-top: 25px; }
	ul.news-block-ul li:first-child { padding-top: 0; }
	.instagram-feed { margin-top: 10px; margin-bottom: 15px; }
	.instagram-placeholder { width: 15%; }
	#leftcolumn .block_outer {
		overflow: hidden;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
		padding-left: 15px;
		padding-right: 15px;
	}
	#leftcolumn .block_outer.init {
		height: 40px !important;
	}
	ul#firstview_controller li a {
	width: 100px;
	height: 55px; 
	}
	#top-products-list .folder {
		overflow: hidden;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
		margin-top: 3%;
	}
	#top-products-list .folder.init {
		height: 0 !important;
	}
	#top-products-list .folder ul li {
		padding: 5px 7px;
		border-bottom: dotted 1px #999;
	}
	#leftcolumn .block_outer img { margin-left: auto; margin-right: auto; }

	#main_column .block_outer { line-height: 1.7em; }
	
     #main_column #top-line-at { width: 57%; margin-left: auto; margin-right: auto; margin-top:-8% !important; margin-bottom: -5% !important;}
    
     #banner_half .thumb-banner, #banner_half2 .thumb-banner{ width: 50%; float:left; padding:0px;}
 
     #banner_half .left-set, #banner_half2 .left-set{ padding-bottom:15px;}
     
     #banner_half .sp_l, #banner_half2 .sp_l{ padding-right:7px; } 

     #banner_half .sp_r, #banner_half2 .sp_r{ padding-left:7px; } 

    #top-ranking .thph span.rank , #style-ranking .thph span.rank{
		position: relative;
		top: auto;
		left: auto;
		float: left;
		font-size: 1.5em;
		width: 36px;
		height: 36px;
		line-height: 36px;
		margin-right: 10px;
		z-index: auto;
	}
	#top-ranking .thph span.thumb-item,#style-ranking .thph span.thumb-item {
		float: left;
		width: 69px;
		height: 69px;
		padding: 0;
		margin-right: 10px;
	}

	#top-ranking .thph h3,#style-ranking .thph h5 { width: auto; font-size: 1em; }
	#top-ranking .thph .price { font-size: 1em; text-align: left; }

	#top-products-list a.click-button {
		display: block;
		color: #333 !important;
		font-size: 1.28em;
		font-family: "????";
		letter-spacing: -0.075em;
		text-align: center;
		border: solid 2px #fff;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		background: #f7c7c6;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ef9b9a), color-stop(0.51, #f7c7c6), color-stop(0.50, #fadbda), color-stop(0.00, #fce8e7));
		background: -webkit-linear-gradient(top, #fce8e7 0%, #fadbda 50%, #f7c7c6 51%, #ef9b9a 100%);
		background: -moz-linear-gradient(top, #fce8e7 0%, #fadbda 50%, #f7c7c6 51%, #ef9b9a 100%);
		background: -o-linear-gradient(top, #fce8e7 0%, #fadbda 50%, #f7c7c6 51%, #ef9b9a 100%);
		background: -ms-linear-gradient(top, #fce8e7 0%, #fadbda 50%, #f7c7c6 51%, #ef9b9a 100%);
		background: linear-gradient(to bottom, #fce8e7 0%, #fadbda 50%, #f7c7c6 51%, #ef9b9a 100%);
		padding: 10px 0;
		text-decoration: none !important;
		margin-left: auto;
		margin-right: auto;
		box-shadow:rgba(0, 0, 0, 0.25) 2px 2px 4px 0px;
		-webkit-box-shadow:rgba(0, 0, 0, 0.25) 2px 2px 4px 0px;
		-moz-box-shadow:rgba(0, 0, 0, 0.25) 2px 2px 4px 0px;
	}
	#top-products-list a.click-button:hover {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #f5de00), color-stop(0.51, #faee00), color-stop(0.50, #fcf459), color-stop(0.00, #fdf893));
		background: -webkit-linear-gradient(top, #fdf893 0%, #fcf459 50%, #faee00 51%, #f5de00 100%);
		background: -moz-linear-gradient(top, #fdf893 0%, #fcf459 50%, #faee00 51%, #f5de00 100%);
		background: -o-linear-gradient(top, #fdf893 0%, #fcf459 50%, #faee00 51%, #f5de00 100%);
		background: -ms-linear-gradient(top, #fdf893 0%, #fcf459 50%, #faee00 51%, #f5de00 100%);
		background: linear-gradient(to bottom, #fdf893 0%, #fcf459 50%, #faee00 51%, #f5de00 100%);
	}

  #harapan_series h4#long_h{ position:static !important;}
  #harapan_series p#long_t{margin-top:0 !important;}
  #harapan_series p.to_item{width:70% !important;}
  #harapan_series p#hp1{padding:10px 30px 10px 30px !important;}
  #harapan_series p#hp3{padding:10px 5px 10px 5px !important;}
  
}


/* ===============================================
????
=============================================== */
#holiday{
             border:double 5px #ffe664;
             margin-bottom:9%;
             padding:20px;
             }
p#silver{
           font-size:110%;
           font-weight:bold;
           }


/* ===============================================
youtube
=============================================== */

#youtube p {text-align:center;}
#youtube iframe {display:block;
                          margin-left: auto;
                          margin-right:auto;}

/* ===============================================
????????
=============================================== */
#harapan_series h4{
margin-top:5%;
margin-bottom:0px;}

#harapan_series p.st{
margin-top:0px;
margin-bottom:5%;
}

#harapan_series p.line{
margin-bottom:5%;
}

#harapan_series p#haramaki_comment{margin-top:5%;}

#harapan_series p{ line-height:3em;}

#harapan_series p.to_item{border:solid 2px;
                                        color:#e83828;
                                        width:60%;
                                        padding:10px;
                                        display:block;
                                        margin-left:auto;
                                        margin-right:auto;}
#harapan_series p.to_item a{color:#e83828; 
                                           font-weight:bold;}

#harapan_series p#long_t{margin-top:8%;}


/* ===============================================
??????
=============================================== */

#ninkatsu_new p{ line-height:3em;}

#ninkatsu_new #hara{padding-top:5%;}

#ninkatsu_new h3{padding-top:2%;}
#ninkatsu_new h4{padding-top:4%;
                            padding-botom:4%;}

/* ===============================================
????????
=============================================== */
#aka_hara p{ line-height:3em;}
#aka_hara .to_cart{
margin-top:-5%!important;
margin-bottom:5%!important;}
#aka_hara img.aligncenter{padding-bottom:5%!important;}

/* ===============================================
?????????
=============================================== */
#logo_last p img{
      display:block;
      padding-top:50px;
      margin-left:auto;
      margin-right:auto;}

/* ===============================================
yahoo/amazon??????
=============================================== */
#sp_ay img{max-width:49%!important;}

